<!--Main Navigation-->
<body class=" intro-2">
<div class="full-bg-img mask rgba-gradient">
  <div class="container flex-center ">
    <div class="flex align-items-center content-height w-100">
      <div class="row head w-100   white-text">
        <span class="heading text-center"><img src="../../assets/images/udsm_logo.png" width="20%">University of Dar es salaam</span>
      </div>

      <div class="row center-page flex-center w-100">
        <div class="col-md-4 text-center text-md-left mb-5">
          <div class="white-text">
            <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Ds Seminar Registration! </h2>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
              adipisicing
              elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
              Commodi sequi
              non animi ea dolor molestiae, quisquam iste, maiores. Nulla.
              <div *ngFor="let post of posts | async">
                {{post | json}}
              </div>
            </h6>
          </div>
        </div>

        <div class="col-md-6 col-xl-4 offset-xl-1">
          <!--Form-->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="card wow fadeInRight" data-wow-delay="0.3s">
            <div class="card-body">
              <!--Header-->
              <div class="text-center">
                <h3 class="white-text">Login</h3>
                <hr class="hr-light">
              </div>
              <div *ngIf="alert" class="alert alert-danger" role="alert">
                Incorrect Username or Password!
              </div>

              <!--Body-->
              <div class="md-form form-group white-text">
                <i class="fas fa-user prefix white-text"></i>
                <input type="text" id="form3" mdbValidate formControlName="username"
                       [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control white-text"
                       mdbInput>
                <label for="form3" class="white-text">Username</label>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback text-center">
                  <div *ngIf="f.username.errors.required" style="margin-bottom: -20px">Username is required</div>
                </div>
              </div>

              <div class="md-form form-group white-text">
                <i class="fas fa-lock prefix white-text"></i>
                <input type="password" id="form4" mdbValidate formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"  class="form-control white-text"
                       mdbInput>
                <label for="form4" class="white-text">Password</label>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-center">
                  <div *ngIf="f.password.errors.required" style="margin-bottom: -20px">Password is required</div>
                </div>
               </div>

              <div class="text-center form-group">
                <button [disaled]="loading"  mdbBtn class="form-control  col-9" color="default" rounded="true"
                        mdbWavesEffect>Login
                </button>
                <button mdbBtn class="form-control col-9 waves-light" color="default" rounded="true" data-toggle="modal"
                        (click)="openSignup()" mdbWavesEffect>Register
                  </button>

                  <div *ngIf="loading" class="loader-body">
                    <div class="loader "></div>
                  </div>

                <hr class="hr-light mb-3 mt-4">

                <div class="inline-ul text-center d-flex justify-content-center">
                  <a class="forgot-pas" mdbWavesEffect> <u>Forgot Password! </u></a>
                </div>
              </div>
            </div>
          </div>
          </form>
          <!--/.Form-->
        </div>

      </div>
    </div>
  </div>
</div>
</body>
<!--Main Navigation-->

