table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}


::ng-deep .view-mat-tooltip{
  background: #498CDC;
  font-weight: bold;
}
::ng-deep .delete-mat-tooltip{
  background: #F71F37;
  font-weight: bold;
}
::ng-deep .addResults-mat-tooltip{
  background: #00c851;
  font-weight: bold;
}
