<!--<div id="Home">
  <app-navbar></app-navbar>
</div>
<br>
<div id="b">
  <app-home></app-home>
</div>
<br>
<div id="About Us">
  <app-about></app-about>
</div>
&lt;!&ndash;<div id="Product">
  <app-make-order></app-make-order>
</div>&ndash;&gt;
<br>
<div id="Contact">
  <app-contacts></app-contacts>
</div>
 &lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;
<br>-->

<!--<app-login></app-login>-->
<!--
<app-footer></app-footer>
-->
<router-outlet></router-outlet>
<!--
<app-fetch-student></app-fetch-student>
-->
