@media (min-width: 1199.98px) {
  .container {
    padding-left: 250px;
  }
}
.container {
  padding-top: 70px;
}
.user {
  padding-bottom: 30px;
}
.user-icon {
  font-size: 100px;
}
.col-md-8 {
  padding-top: 20px;
}
.col-md-6{
padding-bottom: 10px;
}
.h5 {
  padding-right: 10px;

}
