<mat-nav-list >
  <li style="height: 150px; width: 150px; margin: 0 25px 50px 25px">
    <div class="flex-column flex-center">
       <img class="img-fluid flex-center" src="../../assets/images/udsm_logo.png" >
      <span style="font-weight:bold; padding-top: 5px;">Ds Seminar</span>
    </div>
    <mat-divider class="mat-elevation-z2 "  style="border-top-color: white;" ></mat-divider>

  </li>


<li class="item cool-link">
  <a matLine routerLink="/manage-payments">Profile  </a>
  <button mat-icon-button style="margin-left: 91px">
    <mat-icon>person</mat-icon>
  </button>
</li>
  <mat-divider></mat-divider>
  <li class="item cool-link">
    <a matLine routerLink="/manage-payments">Seminars   </a>
    <button mat-icon-button style="margin-left: 69px">
      <mat-icon color="white">money</mat-icon>
    </button>

  </li>
  <mat-divider></mat-divider>
  <li class="item cool-link">
    <a matLine routerLink="/manage-payments">Students  </a>
    <button mat-icon-button style="margin-left: 73px">
      <mat-icon color="white">money</mat-icon>
    </button>

  </li>
  <mat-divider></mat-divider>
  <li class="item cool-link" >
    <a matLine routerLink="/manage-payments">Results</a>
    <button mat-icon-button style="margin-left: 86px">
      <mat-icon color="white">money</mat-icon>
    </button>

  </li>
  <mat-divider></mat-divider>
</mat-nav-list>
