.intro-header {
  /*
  height: unset !important;
  */
}
body {
  background: url("../../assets/images/udsm.jpg")no-repeat center center;
}
.inline-ul {
  color: rgb(70, 171, 230);
}
.nav strong{
  font-size: 36px;
}
.head{
  margin-top: 5%;
}
.forgot-pas u {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 20px;
  color: #2bbbad ;
}

button{
  border-radius: 20px;
}
.md-form {
  margin-top: 8px;
}
